*{
    box-sizing:border-box;
}
.container{
    display: flex;
    background-color: red;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    flex-direction: column;

}
.father.top{
    display:flex;
    align-self: flex-start;
    margin: 10px auto;
    flex-shrink: 0;
    flex-direction: row;
    width: 95%;
    height: 30%;


}
.aqua{
    display: flex;
    background-color:aqua;
    height: 100%;
    width: 100%;
    overflow-x : scroll;
    /*margin-top: 10px;*/
    align-self: center;
    align-items: center;


}
.yellow.t{
    background-color: yellow;
    width: 33.3333%;
    height:75%;
    flex-shrink: 0;
    margin: 0 10px;
}
.father.bottom{
    display: flex;
    height:65%;
    width: 98%;
    margin: 5px auto;
    justify-content: space-between;
    /*align-self: flex-end;*/

}
.vertical{
    height: 100%;
    width:40%;
    background-color: aqua;
    overflow-y: scroll;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;

    /*align-self: flex-end;*/
}
.yellow.b{
    width: 95%;
    height: 25%;
    margin: 10px 5px;
    background-color: yellow;
    flex-shrink: 0;
    flex-grow: 0;

}
.blueblock{
    width: 95%;
    height: 95%;
    background-color: blue;
    margin-left: 10px;
}