*{
    box-sizing: border-box;
}
.red{
    display: flex;
    width: 1000px;
    height: 800px;
    background-color: red;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
    margin: 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
}
.upper{
    display: flex;
    height: 25%;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    row-gap: 10px;
}
.blue{
    height: 50%;
    background-color: blue;
}
.lower{
    height: 75%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    overflow-x: scroll;
    padding-bottom: 10px;
}

.scroll1{
    display: flex;
    height: 100%;
    width: 30%;
    margin: 0;
    background-color: darkgreen;
    overflow-y: scroll;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}
.scroll.green{
    display: flex;
    height: 100%;
    width: 30%;
    background-color: darkgreen;
    flex-direction: column;
    overflow-y: scroll;
    flex-grow: 0;
    flex-shrink: 0;
}
.block{
    height: 75%;
    width: 30%;
    background-color: darkgreen;
    flex-grow: 0;
    flex-shrink: 0;
}
.orange{
    background-color: orange;
    height: 20%;
    width: 90%;
    margin: 10px;
    flex-shrink: 0;
}


